
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>different layout</title>
</head>
<body>
    
    @RenderBody()
</body>
</html>
