<h2>Admin Home Controller</h2>
<table border="1">
    <tr>
        <td>@Html.ActionLink("Go to Main","index","Home",new {area="" },null)</td>
    </tr>
    <tr>
        <td>
        <td>@Html.ActionLink("Go to Admin", "index", "Home", new { area = "Admin" },null)</td>
    </tr>
    <tr>
        <td>
        <td>@Html.ActionLink("Go to Employee", "index", "Home", new { area = "Employee" },null)</td>
    </tr>
    <tr>
        <td>
        <td>@Html.ActionLink("Go to Employer", "index", "Home", new { area = "Employer" },null)</td>
    </tr>
</table>


