@model WebApplication1.Models.Employee
@{
    ViewBag.Title = "detial1";
}

<h2>Employee detial</h2>
<table>
    <tr>
        <td>
            Employee id:
        </td>
        <td>
            @Model.id
        </td>
    </tr>
    <tr>
        <td>
            Employee Name:
        </td>
        <td>
            @Model.name
        </td>
    </tr>
    <tr>
        <td>
            Employee gender:
        </td>
        <td>
            @Model.gender
        </td>
    </tr>
    <tr>
        <td>
            Employee City:
        </td>
        <td>
            @Model.City
        </td>
    </tr>
</table>

