@model Deleting_Multiple_Rows.Models.Employee
<tr>
    <td> <input type="checkbox" name="employeestodelete" id="employeestodelete" value="@Model.employeeid" /> <td>
    <td>@Model.name</td>
    <td>@Model.gender</td>
    <td>@Model.city</td>
</tr>

